<!DOCTYPE html>
<html>

<style>
    @media screen and (min-width:1800px) {
        .calc {
            background-image: url("https://www.pngmart.com/files/15/Scientific-Calculator-PNG-Transparent-HD-Photo.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .result {
            margin-top: 140px;
            color: black;
        }
    }

    .message {
        text-align: center;
    }
</style>

<head>
    <title>Calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-content" style="max-width:1920px">

    <div class="w3-row">
        <div class="w3-half w3-container" style="height:600px">
            <div>
                <h1 class="w3-margin-left w3-margin-right w3-container w3-round-xlarge w3-teal"
                    style="font-size:10vw text-shadow:1px 1px 0 #444">
                    Welcome to
                    the Calculator</h1>
                <form method="POST" action="/" enctype="multipart/form-data">
                     {{ form.csrf_token }}
                    <h4 class="w3-margin-left">{{ form.number1.label }} {{ form.number1(class="w3-input w3-round-xlarge w3-border w3-light-grey") }}</h4>
                    <h4 class="w3-margin-left">{{ form.number2.label }} {{ form.number2(class="w3-input w3-round-xlarge w3-border w3-light-grey") }}</h4>
                    <h4>{{ form.operation() }}</h4>
                    <h4><input class="w3-button w3-teal w3-round-xlarge w3-margin-left" type="submit" value="Calculate!"></h4>
                 </form>
             </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="w3-margin-left w3-panel w3-red w3-margin-right" style="width: 70%">
                <p class="message w3-padding-large w3-round w3-text-white">{{ messages[0] }}</p>
            </div>
            {% endif %}
            {% endwith %}

        </div>
        <div class="calc w3-half w3-display-container w3-teal" style="height: 1000px">
            {% if result %}
            <div class="result w3-monospace w3-display-topmiddle">
                <h2>{{ number1 }} {{ operation }} {{ number2
                    }} = {{ result }}</h2>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>