<!DOCTYPE html>
<html>
    <head>
        <h3>The ASCII sum of your name is:</h3>
        <h3>{{sum}}</h3>
    </head>
    <button>
            <a href="/">Return to form</a>
        </button>
</html>