<!DOCTYPE html>

<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Error: Math Error</title>

<head>
    <h1 class="w3-margin-left w3-container w3-round-xlarge w3-teal" style="text-shadow:1px 1px 0 #444">Math Error:
        Cannot Divide by Zero</h1>
</head>

<body>
    <a href="/" class="w3-margin-left w3-btn w3-teal w3-round-xlarge">Return to Calculator</a>
</body>

</html>